<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>

<!-- L-1 -->
<div class="well">
  <label class="label label-default l1" id="l1_label">L1</label>
  <input type="color" id="l1_colour" value="#000000">
  <label class="label label-default l1_off" id="l1_off_label" style="background-color: #000000; color: white">OFF</label>
</div>
  
<!-- L-2 -->
<div class="well">
  <label class="label label-default l2" id="l2_label">L2</label>
  <input type="color" id="l2_colour" value="#000000">
  <label class="label label-default l2_off" id="l2_off_label" style="background-color: #000000; color: white">OFF</label>
</div>
  
<!-- ARTIC-1 -->
<div class="well">
  <label class="label label-default artic1" id="artic1_label">Artic1</label>
  <input type="color" id="artic1_colour" value="#000000">
  <label class="label label-default artic1_off" id="artic1_off_label" style="background-color: #000000; color: white">OFF</label>
</div>
  
<!-- ARTIC-2 -->
<div class="well">
  <label class="label label-default artic2" id="artic2_label">Artic2</label>
  <input type="color" id="artic2_colour" value="#000000">
  <label class="label label-default artic2_off" id="artic2_off_label" style="background-color: #000000; color: white">OFF</label>
</div>
  
<!-- SLICE PIPE -->
<div class="well">
  <label class="label label-default slice_pipe" id="slice_pipe_label">Slice Pipe</label>
  <input type="color" id="slice_pipe_colour" value="#000000">
  <label class="label label-default slice_pipe_off" id="slice_pipe_off_label" style="background-color: #000000; color: white">OFF</label>
</div>
  
<!-- UNICORN -->
<div class="well">
  <label class="label label-default unicorn" id="unicorn_label">Column</label>
  <input type="color" id="unicorn_colour" value="#000000">
  <label class="label label-default unicorn_off" id="unicorn_off_label" style="background-color: #000000; color: white">OFF</label>
</div>
  
<!-- ALL -->
<div class="well">
  <label class="label label-default all" id="all_label">ALL</label>
  <input class="all" type="color" id="all_colour" value="#000000">
  <label class="label label-default all" style="background-color: #000000; color: white">OFF</label>
</div>
  
<script type="text/javascript">

  function hexToRgb(hex) {  
    var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
    return "rgb(" +  
    parseInt(result[1], 16) + ", " + 
    parseInt(result[2], 16) + ", " +  
    parseInt(result[3], 16) + ")"   
  }


  function light(lamp, node) { 
    $(document).ready(function(){
      $("." + lamp).click(function(e){
          var hex = document.getElementById(lamp + "_colour").value;
          var rgb = hexToRgb(hex);
          document.getElementById(lamp + "_label").style.backgroundColor= hex;
          $.ajax({type: "POST",
              url: "http://192.168.86." + node + "/" + rgb
          });        
        });
      });
     }

  
  function off(lamp, node) {
    $(document).ready(function(){
      $("." + lamp + "_off").click(function(e){
          var rgb = "rgb(0, 0, 0)";
          document.getElementById(lamp + "_label").style.backgroundColor= "#000000";
          $.ajax({type: "POST",
              url: "http://192.168.86." + node + "/" + rgb
          });        
        });
      });
  }


  light("l1", "42");
  light("l2", "34");
  light("artic1", "33");
  light("artic2", "22");
  light("slice_pipe", "30");
  light("unicorn", "31");

  off("l1", "42")
  off("l2", "34")
  off("artic1", "33");
  off("artic2", "22");
  off("slice_pipe", "30");
  off("unicorn", "31");

    
  $(document).ready(function(){
    $(".all").click(function(e){
        // e.preventDefault();
        var hex = document.getElementById("all_colour").value;
        var rgb = hexToRgb(hex);
        document.getElementById('all_label').style.backgroundColor= hex;
        $.ajax({type: "POST",
            url: 'http://192.168.86.31/' + rgb
        });
        $.ajax({type: "POST",
            url: 'http://192.168.86.30/' + rgb
        });
        $.ajax({type: "POST",
            url: 'http://192.168.86.22/' + rgb
        });
        $.ajax({type: "POST",
            url: 'http://192.168.86.33/' + rgb
        });
        $.ajax({type: "POST",
            url: 'http://192.168.86.34/' + rgb
        });
        $.ajax({type: "POST",
            url: 'http://192.168.86.42/' + rgb
        });
        
  });
  });

</script>
